<div class="w-[1200px] mx-auto pb-12">
  <div class="flex w-full items-center justify-center">
    <section class="relative w-full overflow-hidden px-4 py-12 lg:px-8 lg:py-12">
      <div class="relative z-10 my-12 flex flex-col items-center justify-center gap-4">
        <div class="flex w-full flex-col items-start justify-center flex flex-col gap-4 md:items-center">
          <div class="mb-2 inline-block rounded-full bg-primary-200 dark:bg-primary-650
                   dark:text-white px-3 py-1 text-xs font-medium uppercase text-primary">
            Precios
          </div>
          <h1 class="mt-2 text-3xl font-black tracking-tight sm:text-4xl">Precios justos, ventajas injustas</h1>
          <p class="text-md max-w-xl text-neutral-600 dark:text-neutral-400 md:text-center">
            Comience a usar Academy Manager hoy mismo y lleve su academia al siguiente nivel
          </p>
        </div>
      </div>
      <div class="relative mx-auto mt-16 flex w-full flex-col lg:flex-row gap-8">
        @for (pricingPlan of subscriptions; track pricingPlan) {
          <div class="w-full rounded-2xl border border-default p-6 text-left">
            <p class="mb-1 text-sm font-medium uppercase text-primary">{{ pricingPlan.name }}</p>
            <div class="mb-8">
              <div class="text-3xl font-semibold text-neutral-900 dark:text-neutral-200">
                <span>{{ pricingPlan.price | number }}</span>
                <span class="text-sm font-medium">/{{ pricingPlan.durationInDays | number }} días</span>
              </div>
              <div class="mt-8">
                <button mat-flat-button class="w-full" (click)="openDialog(pricingPlan)">
                  Adquirir ahora
                </button>
              </div>

            </div>
          </div>
        }
      </div>
    </section>
  </div>
</div>
